{{ extends "/layouts/application" }}

<section id="blog-post" class="light-bg">
    <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
        <div class="row">
            <div class="col-md-9 center-block">
                <div class="sidemeta">
                    <div class="post format-gallery">
                        <div class="date-wrapper">
                            <div class="date">
                                <span class="day">{{ day }}</span><span class="month">{{ month }}</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <figure class="post-media">
                                <img alt="" src="{{ imageUrl }}" />
                            </figure>
                            <p class="author">
                                <a data-placement="left" data-rel="tooltip" href="#" title="Post author">by {{ author}}</a>
                            </p>
                            <h1 class="post-title">
                                {{ title }}
                            </h1>
                            <ul class="meta">
                                <li class="categories">{{render "/partials/tag-list" }}</li>
                            </ul>
                            <p>
                                {{ intro }}
                            </p>
                            {{ yield }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
