{{ extends "/layouts/application" }}

<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>
                        Cutest Photos of Cats
                    </h1>
                    <p>
                        Beautiful cats! Grumpy cats! Fat cats! Pure cuteness!
                    </p>
                </header>
            </div>
        </div>
    </div>
</section>
<section class="light-bg" id="blog">
    <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
        <div class="row">
            <div class="col-md-9 center-block">
                <div class="posts sidemeta">
                    {{ for postMeta in postMetas }}
                    <div class="post format-image">
                        <div class="date-wrapper">
                            <div class="date">
                                <span class="day">{{ postMeta.day }}</span><span class="month">{{ postMeta.month }}</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <figure class="icn-link post-media">
                                <a href="{{ postMeta.postUrl }}"><img alt="" src="{{ postMeta.categoryImageUrl }}" /></a>
                            </figure>
                            <p class="author">
                                <a data-placement="left" data-rel="tooltip" href="#" title="Post author">by {{ postMeta.author }}</a>
                            </p>
                            <h1 class="post-title">
                                <a href="{{ postMeta.postUrl }}">{{postMeta.title}}</a>
                            </h1>
                            <ul class="meta">
                                <li class="categories">
                                    {{render "/partials/tag-list" tagsList=postMeta.tagsList }}
                                </li>
                            </ul>
                            <p>
                                {{ postMeta.intro }}
                            </p>
                            <a class="btn" href="{{ postMeta.postUrl }}"> Read more</a>
                        </div>
                    </div>
                    {{/for}}
                </div>
            </div>
        </div>
    </div>
</section>