{{ extends "/layouts/application" }}

<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>
                        Cutest Photos of Cats
                    </h1>
                    <p>
                        Beautiful cats! Grumpy cats! Fat cats! Pure cuteness!
                    </p>
                </header>
            </div>
        </div>
    </div>
</section>
<section class="light-bg" id="blog">
    <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
        <div class="row">
            <div class="col-md-9 center-block">
                <div class="posts sidemeta">
                    <div class="post format-image">
                        <div class="date-wrapper">
                            <div class="date">
                                <span class="day">30</span><span class="month">Sep</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <figure class="icn-link post-media">
                                <a href="/cats/shumy-is-one-year-old.html"><img alt="" src="/images/cats/2015-09-30-shumy-is-one-year-old/image.jpg" /></a>
                            </figure>
                            <p class="author">
                                <a data-placement="left" data-rel="tooltip" href="#" title="Post author">by Dan</a>
                            </p>
                            <h2 class="post-title">
                                <a href="/cats/shumy-is-one-year-old.html"> Shumy Is One Year Old</a>
                            </h2>
                            <ul class="meta">
                                <li class="categories">
                                    <a href='#'>cat</a>,&nbsp;<a href='#'>kitty</a>,&nbsp;<a href='#'>cute</a>,&nbsp;<a href='#'>pet</a>
                                </li>
                            </ul>
                            <p>
                                Shumy is our cat. In her passport, she&#39;s a British Short Hair. But we can all see the long hair she has.
                            </p>
                            <a class="btn" href="/cats/shumy-is-one-year-old.html"> Read more</a>
                        </div>
                    </div>
                    <div class="post format-image">
                        <div class="date-wrapper">
                            <div class="date">
                                <span class="day">29</span><span class="month">Sep</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <figure class="icn-link post-media">
                                <a href="/cats/whitey.html"><img alt="" src="/images/cats/2015-09-29-whitey/image800.jpg" /></a>
                            </figure>
                            <p class="author">
                                <a data-placement="left" data-rel="tooltip" href="#" title="Post author">by Dan</a>
                            </p>
                            <h2 class="post-title">
                                <a href="/cats/whitey.html"> Whitey</a>
                            </h2>
                            <ul class="meta">
                                <li class="categories">
                                    <a href='#'>cat</a>,&nbsp;<a href='#'>kitty</a>,&nbsp;<a href='#'>cute</a>,&nbsp;<a href='#'>pet</a>
                                </li>
                            </ul>
                            <p>
                                Whitey is Cheetah&#39;s son. Cheetah is our friend&#39;s cat and we took care of them while they were out of town.
                            </p>
                            <a class="btn" href="/cats/whitey.html"> Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>