{{ extends "/layouts/application" }}

<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>
                        Stories
                    </h1>
                    <p>
                        Discover <strong>stories</strong> about love, travel, people, and our lives and culture through <strong>photography</strong>. Let the stories flow in your veins!
                    </p>
                </header>
            </div>
        </div>
    </div>
    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">
                <ul class="items col-3 gap">
                    {{ for postMeta in postMetas }}
                    <li class="item thumb interactive">
                        <figure>
                            <div class="icon-overlay icn-link">
                                <a href="{{ postMeta.postUrl }}"><img alt="" src="{{ postMeta.categoryImageUrl }}" /></a>
                            </div>
                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h4>
                                        <a href="{{ postMeta.postUrl }}">{{ postMeta.title }}</a>
                                    </h4>
                                    <p>
                                        stories
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    {{/for}}
                </ul>
            </div>
        </div>
    </div>
</section>