{{ extends "/layouts/application" }}

<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>
                        Stories
                    </h1>
                    <p>
                        Discover <strong>stories</strong> about love, travel, people, and our lives and culture through <strong>photograpy</strong>. Let the stories flow in your veins!
                    </p>
                </header>
            </div>
        </div>
    </div>
    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">
                <ul class="items col-3 gap">
                    <li class="item thumb interactive">
                        <figure>
                            <div class="icon-overlay icn-link">
                                <a href="/stories/the-casino-of-constanta.html"><img alt="" src="/images/stories/2015-10-15-the-casino-of-constanta/teaser-01-800.jpg" /></a>
                            </div>
                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h4>
                                        <a href="/stories/the-casino-of-constanta.html"> The Casino Of Constanta</a>
                                    </h4>
                                    <p>
                                        stories
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="item thumb interactive">
                        <figure>
                            <div class="icon-overlay icn-link">
                                <a href="/stories/love-at-the-gardens-of-the-world.html"><img alt="" src="/images/stories/2015-09-30-love-at-the-gardens-of-the-world/teaser-01-800.jpg" /></a>
                            </div>
                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h4>
                                        <a href="/stories/love-at-the-gardens-of-the-world.html"> Love at the Gardens Of The World</a>
                                    </h4>
                                    <p>
                                        stories
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="item thumb interactive">
                        <figure>
                            <div class="icon-overlay icn-link">
                                <a href="/stories/lunar-landscapes-of-lanzarote.html"><img alt="" src="/images/stories/2015-09-29-lunar-landscapes-of-lanzarote/teaser-01-800.jpg" /></a>
                            </div>
                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h4>
                                        <a href="/stories/lunar-landscapes-of-lanzarote.html"> Lunar Landscapes of Lanzarote</a>
                                    </h4>
                                    <p>
                                        stories
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>