{{ extends "/layouts/application" }}

<!--============================================================= SECTION – HERO =============================================================-->
<section id="hero">
    <div class="owl-carousel height-lg owl-inner-nav owl-ui-lg" id="owl-main">
        <div class="item" style="background-image: url(http://static.remindmetolive.com/images/stories/2015-09-29-lunar-landscapes-of-lanzarote/teaser-02-1600.jpg);">
            <div class="container">
                <div class="caption vertical-top text-right">
                    <h1 class="fadeInRight-1 light-color stroke-1">Lanzarote Lunar Landscape</h1>
                    <p class="fadeInRight-2 light-color"><span class="navy-bg">What makes this island special are the vulcanos and the apocalyptic landscapes</span></p>
                    <div class="fadeInRight-3"><a class="btn btn-large" href="/stories/lunar-landscapes-of-lanzarote.html">Discover Lanzarote</a></div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(http://static.remindmetolive.com/images/stories/2015-09-30-love-at-the-gardens-of-the-world/teaser-01-1600.jpg);">
            <div class="container">
                <div class="caption vertical-top text-left">
                    <h1 class="fadeInDown-1 light-color stroke-1">Love At The Gardens Of The World</h1>
                    <p class="fadeInDown-2 light-color"><span class="navy-bg">A beautiful green place in Berlin</span></p>
                    <div class="fadeInDown-3"><a class="btn btn-large" href="/stories/love-at-the-gardens-of-the-world.html"> Take a look</a></div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(http://static.remindmetolive.com/images/cats/2015-09-30-shumy-is-one-year-old/teaser1600.jpg);">
            <div class="container">
                <div class="caption vertical-bottom text-right">
                    <h1 class="fadeInLeft-1 light-color stroke-1">Shumy Is One</h1>
                    <p class="fadeInLeft-2 light-color"><span class="gray-bg">Take a look at Shumy and other cute kitties, in our Cats section!</span></p>
                    <div class="fadeInLeft-3"><a class="btn btn-large" href="/cats/">See the Cats</a></div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(http://static.remindmetolive.com/images/streets-of-berlin/2015-09-29-teufelsberg/teaser1600.jpg);">
            <div class="container">
                <div class="caption vertical-top text-right">
                    <h1 class="fadeIn-1 light-color stroke-1">Streets of Berlin</h1>
                    <p class="fadeIn-2 light-color"><span class="navy-bg">Discover the wonderful people on the streets of Berlin.</span><br /><span class="navy-bg">Find out why Berlin is considered one of the most cosmoplite cities in the world!</span></p>
                    <div class="fadeIn-3"><a class="btn btn-large" href="/streets-of-berlin/"> Discover Berlin</a></div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(http://static.remindmetolive.com/images/contact/teaser1600.jpg);">
            <div class="container">
                <div class="caption vertical-bottom text-center">
                    <h1 class="fadeInDown-1 light-color stroke-1 yellow">Do you like what you see?</h1>
                    <p class="fadeInDown-2 light-color blue"><span class="gray-bg">We are always open to feedback!</span></p>
                    <div class="fadeInDown-3"><a class="btn btn-large" href="/contact/">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================================================= SECTION – HERO : END =============================================================-->
<!--============================================================= SECTION – WHO WE ARE =============================================================-->
<section id="who-we-are">
    <div class="container inner-top inner-bottom-sm">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Stories. Adventure. Feelings.</h1>
                    <p> <strong>Remind Me To Live</strong> is a project born from our passion for photography and stories. It's our way of sharing our optimistic point of view about life. It's our way of showing that life is beautiful and share our feelings about it.
                    <div class="fb-like" data-action="like" data-href="http://www.remindmetolive.com/" data-layout="box_count" data-share="false" data-show-faces="false"></div>
                    </p>
                </header>
            </div>
        </div>
        <div class="row inner-top-sm">
            <div class="col-md-1">
                <div class="icon pull-right"><i class="icon-heart-empty-1 icn"></i></div>
            </div>
            <div class="col-md-3 inner-bottom-xs">
                <h2>Passion</h2>
                <p class="text-small">We are passionate about photography and stories. We enjoy every bit of our work and we want to share our passion with you!</p>
            </div>
            <div class="col-md-1">
                <div class="icon pull-right"><i class="icon-lamp icn"></i></div>
            </div>
            <div class="col-md-3 inner-bottom-xs">
                <h2>Creativity</h2>
                <p class="text-small">We always challenge ourselves to come up with new ideas and new projects.
                    We try to look at the world with fresh eyes, to discover new perspectives and to share that with you.
                </p>
            </div>
            <div class="col-md-1">
                <div class="icon pull-right"><i class="icon-star-empty-1 icn"></i></div>
            </div>
            <div class="col-md-3 inner-bottom-xs">
                <h2>Quality</h2>
                <p class="text-small">We don't like compromises on quality! From our daily jobs we learned that quality is not
                    negociable and we strive to create excellent work!
                </p>
            </div>
        </div>
    </div>
</section>
<!--============================================================= SECTION – WHO WE ARE : END =============================================================-->
<!--============================================================= SECTION – LATEST WORKS =============================================================-->
<section class="light-bg" id="latest-works">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Check out our latest stories</h1>
                    <p>Beautiful places! Interesting people! Our every day lives and culture!</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link"><a href="/stories/lunar-landscapes-of-lanzarote.html"><img alt="" src="http://static.remindmetolive.com/images/stories/2015-09-29-lunar-landscapes-of-lanzarote/teaser-01-800.jpg" /></a></div>
                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3><a href="/stories/lunar-landscapes-of-lanzarote.html"> Lunar Landscapes of Lanzarote</a></h3>
                            <p>Travel</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link"><a href="/stories/love-at-the-gardens-of-the-world.html"><img alt="" src="http://static.remindmetolive.com/images/stories/2015-09-30-love-at-the-gardens-of-the-world/teaser-01-800.jpg" /></a></div>
                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3><a href="/stories/love-at-the-gardens-of-the-world.html"> Love at the Gardens Of The World</a></h3>
                            <p>Berlin</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row inner-top-sm">
            <div class="owl-carousel owl-item-gap" id="owl-latest-works">
                <div class="item">
                    <a href="/streets-of-berlin/resting-in-mauerpark.html">
                        <figure>
                            <figcaption class="text-overlay">
                                <div class="info">
                                    <h4>Resting in Mauerpark</h4>
                                    <p>Streets Of Berlin</p>
                                </div>
                            </figcaption>
                            <img alt="" src="http://static.remindmetolive.com/images/streets-of-berlin/2015-09-30-resting-in-mauerpark/teaser400.jpg" />
                        </figure>
                    </a>
                </div>
                <div class="item">
                    <a href="/cats/whitey.html">
                        <figure>
                            <figcaption class="text-overlay">
                                <div class="info">
                                    <h4>Whitey</h4>
                                    <p>Cats</p>
                                </div>
                            </figcaption>
                            <img alt="" src="http://static.remindmetolive.com/images/cats/2015-09-29-whitey/teaser400.jpg" />
                        </figure>
                    </a>
                </div>
                <div class="item">
                    <a href="/streets-of-berlin/teufelsberg.html">
                        <figure>
                            <figcaption class="text-overlay">
                                <div class="info">
                                    <h4>Teufelsberg</h4>
                                    <p>Streets Of Berlin</p>
                                </div>
                            </figcaption>
                            <img alt="" src="http://static.remindmetolive.com/images/streets-of-berlin/2015-09-29-teufelsberg/teaser400.jpg" />
                        </figure>
                    </a>
                </div>
                <div class="item">
                    <a href="/cats/shumy-is-one-year-old.html">
                        <figure>
                            <figcaption class="text-overlay">
                                <div class="info">
                                    <h4>Shumy Is One Year Old</h4>
                                    <p>Cats</p>
                                </div>
                            </figcaption>
                            <img alt="" src="http://static.remindmetolive.com/images/cats/2015-09-30-shumy-is-one-year-old/teaser400.jpg" />
                        </figure>
                    </a>
                </div>
                <div class="item">
                    <a href="/about/">
                        <figure>
                            <figcaption class="text-overlay">
                                <div class="info">
                                    <h4>Who we are</h4>
                                    <p>Find out something about us</p>
                                </div>
                            </figcaption>
                            <img alt="" src="http://static.remindmetolive.com/images/about/teaser400.jpg" />
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================================================= SECTION – LATEST WORKS : END =============================================================-->
<!--============================================================= SECTION – GET IN TOUCH =============================================================-->
<section id="get-in-touch">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Do you like our stories?</h1>
                    <p>We would like to hear from you!</p>
                </header>
                <a class="btn btn-large" href="/contact/">Get in touch</a>
            </div>
        </div>
    </div>
</section>
<!--============================================================= SECTION – GET IN TOUCH : END =============================================================-->