<header>
    <div class="navbar">
        <div class="navbar-header">
            <div class="container">
                <ul class="info pull-left">
                    <li><a href="mailto:contact@remindmetolive.com"><i class="icon-mail-1 contact"></i>contact@remindmetolive.com</a>
                    </li>
                </ul>
                <ul class="social pull-right">
                    <li><a href="https://www.facebook.com/remindmetolive" target="_blank"><i
                            class="icon-s-facebook"></i></a>
                    </li>
                    <li><a href="https://www.twitter.com/remindmetolive" target="_blank"><i class="icon-s-twitter"></i></a>
                    </li>
                    <li><a href="https://instagram.com/remindmetolive/" target="_blank"><i class="icon-s-instagram"></i></a>
                    </li>
                </ul>
                <a class="navbar-brand" href="/"><img alt="" class="logo mobile-logo" src="/assets/logo.svg"/>
                </a>
                <!--============================================================= LOGO MOBILE : END =============================================================-->
                <a class="btn responsive-menu pull-right" data-target=".navbar-collapse" data-toggle="collapse">
                    <i class="icon-menu-1"></i>
                </a>
            </div>
        </div>
        <div class="yamm">
            <div class="navbar-collapse collapse">
                <div class="container">
                    <!--============================================================= LOGO =============================================================-->
                    <a class="navbar-brand" href="/"><img alt="" class="logo desktop-logo" src="/assets/logo-100.png"/>
                    </a>
                    <!--============================================================= LOGO : END =============================================================-->
                    <!--============================================================= MAIN NAVIGATION =============================================================-->
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="/">Home</a>
                        </li>
                        <li class="dropdown"><a href="/stories/">Stories</a>
                        </li>
                        <li class="dropdown"><a href="/streets-of-berlin/">Streets of Berlin</a>
                        </li>
                        <li class="dropdown"><a href="/cats/">Cats</a>
                        </li>
                        <li class="dropdownˆ"><a href="/about/">About</a>
                        </li>
                        <li class="dropdown"><a href="/contact/">Contact</a>
                        </li>
                    </ul>
                    <!--============================================================= MAIN NAVIGATION : END =============================================================-->
                </div>
            </div>
        </div>
    </div>
</header>