<footer class="dark-bg">
    <div class="container inner">
        <div class="row">
            <div class="col-md-4 col-sm-6 inner">
                <h4>Who we are</h4>
                <a href="/"><img alt="" class="logo img-intext logo-bottom" src="/assets/logo-white-75.png" />
                </a>
                <p><strong>Remind Me To Live</strong> is the way we contribute to the large, funny and poignant human story. We do this through photograpy and narratives.</p><a class="txt-btn" href="/about/"> More about us</a>
            </div>
            <div class="col-md-4 col-sm-6 inner">
                <h4>Latest works</h4>
                <div class="row thumbs gap-xs">
                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="/stories/gardens-of-the-world.html"><img alt="" src="http://static.remindmetolive.com/images/stories/2015-09-30-love-at-the-gardens-of-the-world/teaser-01-400.jpg" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="/streets-of-berlin/resting-in-mauerpark.html"><img alt="" src="http://static.remindmetolive.com/images/streets-of-berlin/2015-09-30-resting-in-mauerpark/teaser400.jpg" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="/streets-of-berlin/teufelsberg.html"><img alt="" src="http://static.remindmetolive.com/images/streets-of-berlin/2015-09-29-teufelsberg/teaser400.jpg" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-xs-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="/cats/shumy-is-one-year-old.html"><img alt="" src="http://static.remindmetolive.com/images/cats/2015-09-30-shumy-is-one-year-old/teaser400.jpg" />
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 inner">
                <h4>Get In Touch</h4>
                <p>Be part of the journey and share your thoughts about our project. Tell us your story. We would love to hear from you.</p>
                <ul class="contacts">
                    <li><i class="icon-location contact"></i>Berlin, 10405</li>
                    <li><a href="mailto:contact@remindmetolive.com"><i class="icon-mail-1 contact"></i>contact@remindmetolive.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">© 2015 remindmetolive All rights reserved.</p>
            <ul class="footer-menu pull-right">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/stories/">Stories</a>
                </li>
                <li><a href="/streets-of-berlin/">Streets of Berlin</a>
                </li>
                <li><a href="/cats/">Cats</a>
                </li>
                <li><a href="/about/">About</a>
                </li>
                <li><a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>